<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
</head>
<body>
    <%- include("partials/header.ejs") %>



    <% if(locals.dictionary && Object.keys(dictionary).length > 0){ %>
        <h1>All Blogs: </h1>
        <% for (let key in dictionary){ %>
            <container id = <%=key%>>
                <dl>
                    <dt><%= key%>:
                        <form action = "/delete/<%=key%>" method="POST" style = "display: inline-block ">
                            <button type = "submit" id = "<%=key%>DeleteButton" class = "DeleteButton"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-trash2" viewBox="0 0 16 16"><path d="M14 3a.7.7 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225A.7.7 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2M3.215 4.207l1.493 8.957a1 1 0 0 0 .986.836h4.612a1 1 0 0 0 .986-.836l1.493-8.957C11.69 4.689 9.954 5 8 5s-3.69-.311-4.785-.793"/></svg></button>
                        </form>
                        
                        <form action = "/edit/<%=key%>" method="POST" style = "display: inline-block">
                            
                            <button type = "submit" id = "<%=key%>EditButton" class = "EditButton"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16"><path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/> </svg></button>
                        </form>
                       
                      
                    </dt> 
                    <dd><%= dictionary[key]%></dd> 
                </dl>
            </container>
        <% } %>
    <% } %>

    <%- include("partials/footer.ejs") %>

</body>
</html>